<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
</head>
<body>
<div th:fragment="footer">
    <div>
        <footer>
            <div sec:authorize="isAuthenticated()">
                <ul>
                    <li>Logged user: <span sec:authentication="name"></span></li>
                    <li>Roles: <span sec:authentication="principal.authorities"></span></li>
                    <li><a th:href="@{/logout}">Sign Out</a></li>
                </ul>
            </div>
        </footer>
    </div>
</div>
</body>
</html>