<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>users</title>
</head>
<body>

<table>
    <thead class="thead-dark">
    <tr class="text-center">
        <th scope="col">ID</th>
        <th scope="col">USERNAME</th>
        <th scope="col">STATUS</th>
        <th scope="col">CHANGE STATUS</th>
        <th scope="col">ABOUT THIS USER</th>
    </tr>
    </thead>
    <tbody class="text-center">
    <tr th:each="user,stat : ${users}">
        <td th:text="${stat.count}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.status}"></td>
        <td>
            <form action="#" th:action="@{/private/user/edit}" th:object="${updateUserDTO}" method="post">
                <input hidden value="#"
                       th:attr="value=${user.username}" th:name="username">
                <select th:name="status" name="status">
                    <option th:value="ACTIVE" th:text="ACTIVE"></option>
                    <option th:value="INACTIVE" th:text="INACTIVE"></option>
                </select>
                <button type="submit">UPDATE STATUS</button>
            </form>
        </td>
        <td>
            <a href="#" th:href="@{/private/user/edit(user=${user.id})}">Update</a>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <form action="#" th:action="@{user/new}" method="get">
        <button type="submit">ADD USER</button>
    </form>
</div>

<div class="pagination">
    <ul class="pagination">
        <li class="page-item" th:each="currentPage : ${#numbers.sequence( 1,numberPage)}">
            <a class="page-link" href="#" th:href="@{/private/user(currentPage=${currentPage})}"
               th:text="${currentPage}"> </a>
        </li>
    </ul>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
